body {
  margin: 0;
  padding: 0;
  background-color: #BEC5AD;
}

a {
  color: #BEC5AD;
  display: block;
  padding: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
}

h1 {
  color: #544B3D;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: #544B3D;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-left: 30px;
}

p {
  color: #544B3D;
  font-family: 'Poppins', sans-serif;
}

.about-me {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.intro {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display:block
}

.aboutMeHead {
  padding-top: 100px;
  text-align: center;
}

.portfolio {
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 30px;
}

.contactMe {
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 30px;
}

.gitLink {
  color: #544B3D;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 30;
  padding-top: 0;
}

.profilePic {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin-left: 30px;
}

.title {
  margin-left: 30px;
}